@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

@include tablet {

    .sidebar{
        width:220px;
    }

    .admin-main{
        margin-left:220px;
    }

}

@include mobile {

    .admin-main{
        margin-left:0;
    }

    .topbar{
        padding:15px 20px;
    }

    .stats-grid{
        grid-template-columns:1fr;
    }

    .product-form form{
        grid-template-columns:1fr;
    }

    .product-table{
        font-size:14px;
        overflow-x:auto;
    }

}