.admin-order-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.55);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.admin-order-modal{
    width:750px;
    max-width:90%;
    max-height:90vh;
    overflow-y:auto;
    background:#fff;
    border-radius:12px;
    padding:30px;
}

.admin-order-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.admin-order-header button{
    border:none;
    background:none;
    font-size:28px;
    cursor:pointer;
}

.admin-customer-section,
.admin-products-section,
.admin-status-section{
    margin:20px 0;
}

.order-item{
    display:flex;
    gap:20px;
    align-items:center;
    margin:20px 0;
}

.order-item img{
    width:80px;
    height:80px;
    border-radius:10px;
    object-fit:cover;
}

.admin-order-details{
    flex:1;
}

.admin-order-details h4{
    margin-bottom:8px;
}

.admin-status-section select{
    width:220px;
    padding:10px;
}

.admin-modal-buttons{
    margin-top:25px;
    display:flex;
    justify-content:flex-end;
}